.env
data/raw/
data/processed/
data/chunks/
data/database/
data/parsed/
data/qdrant_db/
data/files
#data/qdrant_server_storage/
data/logs
models/hf_cache/
scratch

# Python Cache
**/__pycache__/
*.pyc
